.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0f3b2d;
}

.Calendar {
  background-color: whitesmoke;
}

.card-divs {
  font-family: Inter, sans-serif;
}