HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!Server/src/main/**/target/
!Server/src/unittests/**/target/

serverstarters/
serverstarters/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!Server/src/main/**/build/
!Server/src/unittests/**/build/

### VS Code ###
.vscode/

### Node.js ###
node_modules/
