 #root {
     text-align: center;
     background-color: #0f3b2d;
     height: 100vh;
     width: 100%;
 }

 button.accordion-button {
     padding: 0.6rem 0.8rem;
 }

 .Calendar {
     background-color: whitesmoke;
 }

 .card-divs {
     font-family: Inter, sans-serif;
 }

 h2 {
     font-family: Inter, sans-serif;
     color: white;
 }